h1 {
    text-align: center;
}
#square-container {
    display: grid;
    height: 20em;
    width: 20em;
    margin: auto;
}
.outer-frame {
    margin: 0 auto;
    align-items: center;
    padding: 30px;
    background-color: brown;
    width: 50%;
    max-width: 500px;
    height: 60%;
    border-radius: 40px;
}

.square {
    background-color: rgba(100,100,100,0.0);
    color: white;
    border-style: none;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 1 0px
}

.wheels {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
}

.square:hover {
    transition: transform .05s;
    transform: scale(0.975);
}

.square div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.wheel {
    border-radius: 50%;
    background-color: white;
    border-style: groove;
    height: 70px;
    width: 70px;
    top: 20px;
    align-items: center;
}

.l {
    left: -15px;
}

.r {
    right: -15px;
}
.wheel:hover {
    background-color: gray;
    color: white;
}