#eas-container {
    display: grid;
    width: 60%;
    height: 60%;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 6px;

}
.eas-frame {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: brown;
    width: 60%;
    max-width: 500px;
    height: 60%;
    border-radius: 40px;
}

.wheels {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    width: 100%;
    height: 10vh;
}

.wheel {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border-style: groove;
    height: 70px;
    width: 70px;
    top: 20px;
}
.l {
    left: -15px;
}

.r {
    right: -15px;
}

.square {
    width: 10vh;
    height: 10vh;
    background-color: rgba(100,100,100,0.0);
    color: white;
    border-color: black;
    border-width: 1px;
    border-style: inset;
}
.square:hover {
    transition: transform .05s;
    transform: scale(0.975);
}

.square div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}